region     = "us-east-1"
environment = "staging"

vpc_cidr             = "10.1.0.0/16"
azs                  = ["us-east-1a", "us-east-1b", "us-east-1c"]
public_subnet_cidrs  = ["10.1.1.0/24", "10.1.2.0/24", "10.1.3.0/24"]
private_subnet_cidrs = ["10.1.10.0/24", "10.1.11.0/24", "10.1.12.0/24"]
single_nat_gateway   = false

db_instance_class     = "db.t3.large"
db_name               = "xkill"
db_username           = "xkill_admin"
# db_password = "your-password-here"

redis_node_type            = "cache.t3.small"
redis_cluster_mode_enabled = false

api_image          = "123456789012.dkr.ecr.us-east-1.amazonaws.com/xkill-api:staging"
api_cpu            = 512
api_memory         = 1024
api_desired_count  = 2

judge_image          = "123456789012.dkr.ecr.us-east-1.amazonaws.com/xkill-judge:staging"
judge_cpu            = 1024
judge_memory         = 2048
judge_desired_count  = 1

# domain_name = "staging.xkill.io"
# github_org  = "your-org"
# github_repo = "xkill"
